__pycache__
staticfiles
db.sqlite3
*.py[co]
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json
.DS_Store
images
secrets/
secret_dev.yaml
secret.yaml
cloud_sql_proxy
memo.yaml
