.content {
    @include content_w;
    @include f_style;

    & .btn {
        @include btn;
    }

    & .card-text,
    .author,
    .created_at {
        @include f_style($f_size:1.6rem);
    }

    &_detail {
        top: 10%;
        position: absolute;
        @include content_w($mg:0% 30% 0% 30%);
        @include f_style;

        & .btn {
            @include btn;
        }

        & .card-title {
            @include f_style($f_size:2.4rem);
        }

        & .card-text {
            @include f_style($f_size:1.8rem);
        }

        & .created_at {
            @include f_style($f_size:1.6rem);
        }

        // comment
        & .comment {
            @include f_style($l_height:2rem, $f_size:1.5rem);

            & .link_login {
                color: $tblack;
                letter-spacing: 2px;
            }

        }
    }

    .pagination {

        & .current {
            @include f_style($l_height:1rem, $f_size:1.5rem, $le_sp:0px);
        }
    }
}
