//------- Login, Logout, Signup -------
.content_auth {
    @include content_w($mg:19% 0 0 0);
    @include f_style();

    & a {
        color: $tblack;
        letter-spacing: 2px;
    }

    & .btn {
        @include btn();

        &:hover {
            @include btn_hov();
        }

    }

    & .title_box {
        @include content_w(auto 7% 6% auto);

        & .login_title {
            @include m_title();
            color: $tblack;
        }

    }

    & .login_box {
        @include content_w(0 19% 0 0);
    }
}


//------- Alert message -------
.alert {
    @include alert();
    color: $mblack;
    background-color: #ffffff51;
    @include f_style($l_height:2rem, $f_size:2rem, $le_sp:2px);

    // & .alert-danger {

    // }

    // & .alert-warning {

    // }

    // & .alert-success {

    // }

    // & .alert-info {

    // }

    // & .alert-secondary {

    // }
}
