.header {
    text-align: left;
    display: inline-block;
    position: fixed;
    top: 100px;
    left: 0;
    margin: 0 0 0 75px;
    @include f_style;

    &__logo {
        margin-bottom: 260px;
    }

    &__menu {
        font-size: 2rem;
        margin-left: 5px;

        & ul li {
            margin-bottom: 25px;

            & a {
                text-decoration: none;
                letter-spacing: 2px;
                color: $cblack;
                padding: 5px;
            }
        }

        & ul.gnavi li a {
            /*線の基点とするためrelativeを指定*/
            position: relative;

            &::after {
                content: '';
                /*絶対配置で線の位置を決める*/
                position: absolute;
                bottom: 0;
                left: 7%;
                /*線の形状*/
                width: 80%;
                height: 1px;
                background: $cblack;
                /*アニメーションの指定*/
                transition: all 1s;
                transform: scale(0, 1);
                /*X方向0、Y方向1*/
                transform-origin: left top;
                /*左上基点*/
            }
        }

        & ul.gnavi li a:hover {
            color: $cblack;
        }

        /*現在地とhoverの設定*/
        & ul.gnavi li a:hover::after {
            transform: scale(1, 1);
            /*X方向にスケール拡大*/
        }
    }
}

.side_copy {
    display: inline-block;
    position: fixed;
    top: 50%;
    right: -2%;
    margin: 0 0 0 0;
    transform: rotate(90deg);
    letter-spacing: 2px;
    @include f_style($l_height:2rem, $f_size:1.6rem, $le_sp:3px);
}

.footer {
    text-align: center;
    margin-left: 90px;
    z-index: 0;
    @include f_style;

    &__sns-links {
        position: fixed;
        bottom: 50px;

        & ul li {
            display: inline-block;
            margin-right: 31px;

            & a.sns_link {
                text-decoration: none;

                &:hover {
                    color: rgb(255, 255, 255);
                    background-color: rgba(0, 0, 0, 0.3);
                }

                & i.icon {
                    color: $cblack;
                }
            }
        }
    }
}
