/* もし要素やボックスモデルによっては、content-boxを使いたいと思った時に、
box-sizing: border-box この書き方だと親要素含め子要素すべてに対してまた
content-boxを指定し直さなければいけません。
しかし、下記のように親要素を継承するように書いておけば、親要素のみcontent-boxを
指定するだけで、その子要素にもcontent-boxが適用される、といった形になるため、
汎用性があります。　↓ */

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* class = "noen" を与えることによって画面から非表示になる */
.noen {
    display: none;
}

$mblack: #333;

html {
    font-size: 62.5%;
    width: 100%;
    box-sizing: border-box;

    & body {
        color: $mblack;
        font-family: vdl-v7gothic, sans-serif;
        font-weight: 300;
        font-size: 1.6em;
        font-style: normal;
        text-align: center;

        & a:hover {
            opacity: 0.5;
            text-decoration: none;
        }

        // login box style
        & .form-control {
            color: #757575;
            background-color: rgba(0, 0, 0, 0.1);
            border: 2px solid rgba(0, 0, 0, 0.25);
            font-size: 1.6rem;
            letter-spacing: 1px;


            &:focus {
                color: #757575;
                background-color: rgba(255, 255, 255, 0.5);
                outline: 0;
                font-weight: 300 !important;
                border-color: rgba(0, 0, 0, 0.3);
                box-shadow: inset 0 0 0 1px #fff3;
            }
        }

        & .form-outline {
            color: rgba(255, 255, 255, 0.2);
        }
    }
}
