main {

    @include f_style;

    // ------- index (index.html) -------
    &.index {
        & .main__images {
            height: 100vmin;
            margin: 0 0 0 350px;
            overflow: hidden;
            position: relative;

            & .top_title {
                /*要素の配置*/
                position: absolute;
                /*要素を天地中央寄せ*/
                top: 49%;
                left: 42%;
                transform: translateY(-50%) translateX(-50%);
                /*見た目の調整*/
                color: $tblack;
                white-space: nowrap;

                & .meta {
                    @include m_title();
                }

                & .sub {
                    font-size: 2.5rem;
                    letter-spacing: 3px;
                }

                & .sub-j {
                    font-size: 2rem;
                    letter-spacing: 2px;
                }
            }

            &-photo {
                z-index: 10;
                opacity: 0;
                height: 100%;
                width: 106%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: absolute;
                animation: anime 24s 0s infinite;

                &::before {
                    display: block;
                    content: "";
                    padding-top: 50%;
                }

                &:nth-of-type(2) {
                    animation-delay: 6s;
                }

                &:nth-of-type(3) {
                    animation-delay: 12s;
                }

                &:nth-of-type(4) {
                    animation-delay: 18s;
                }

                @keyframes anime {
                    0% {
                        opacity: 0;
                    }

                    8% {
                        opacity: 1;
                    }

                    17% {
                        opacity: 1;
                    }

                    25% {
                        opacity: 0;
                        transform: translateX(-37px);
                        z-index: 9;
                    }

                    100% {
                        opacity: 0;
                    }
                }
            }

            &-logo {
                position: fixed;
                right: 55px;
                bottom: 45px;
                z-index: 11;
            }
        }
    }

    // ------- About (about.html) -------
    &.about {
        .about_image {
            margin: 0 26%;
            height: 100vh;
            position: relative;

            img {
                height: 100%;
                z-index: -1;
                position: fixed;
                object-fit: cover;
            }

            .content_description {
                @include f_style();
                color: $mwhite;
                text-align: left;
                font-weight: 100;
                display: inline-flex;
                margin: 20% 5%;
                justify-content: center;
                z-index: 10;

                .description {
                    @include f_style($l_height:3.5rem, $le_sp:2px);
                    font-weight: 100;
                }
            }
        }

    }

    // ----------- identity main  ----------

    &.identity_bg {
        background-color: rgb(30, 30, 30);

        & .content_identity:not(:root) {
            @include content_w($mg:0% 25% 0% 25%);
            @include f_style;
            padding-top: 15%;
            height: 100%;

            /* scrolldown (全体の場所)*/
            & .scrolldown1:not(:root) {
                position: absolute;
                top: 15%;
                left: 50%;
                margin-top: 10px;
                transform: translateY(-50%) translateX(-50%);
                /*全体の高さ*/
                height: 50px;

                & span {
                    /*描画位置*/
                    position: absolute;
                    top: -35%;
                    transform: translateY(-50%) translatex(-50%);
                    color: $mwhite;
                    align-items: center;
                    @include f_style($l_height:2rem, $f_size:1.7rem, $le_sp: 4px);
                }

                /* 線の描写 */
                &::after {
                    content: "";
                    /*描画位置*/
                    position: absolute;
                    top: 0;
                    /*線の形状*/
                    width: 1px;
                    height: 30px;
                    background: #eee;
                    /*線の動き1.4秒かけて動く。永遠にループ*/
                    animation: pathmove 2s ease-in-out infinite;
                    opacity: 0;
                }

                /*高さ・位置・透過が変化して線が上から下に動く*/
                @keyframes pathmove {
                    0% {
                        height: 0;
                        top: 0;
                        opacity: 0;
                    }

                    30% {
                        height: 30px;
                        opacity: 1;
                    }

                    100% {
                        height: 0;
                        top: 50px;
                        opacity: 0;
                    }
                }

            }

            & .img_main {
                padding-top: 5%;
                padding-bottom: 40%;
                position: relative;
                opacity: 0;
                transform: translateY(50px);
                transition: 3s;

                &.show {
                    opacity: 1;
                    transform: none;

                    & .contentsText {

                        & h2,
                        p {
                            opacity: 1;
                            transform: none;
                        }
                    }
                }

                & .contentsText {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: absolute;
                    left: 50%;
                    top: 70%;
                    transform: translateY(-50%) translateX(-50%);
                    @include f_style();
                    color: $mwhite;

                    & h2 {
                        @include f_style($l_height:2.5, $f_size:6rem, $le_sp:7px);
                        white-space: nowrap;
                        opacity: 0;
                        transform: translateY(70px);
                        transition: 3s .5s;
                    }

                    & p {
                        @include f_style($l_height:4rem, $f_size:2.5rem, $le_sp:5px);
                        white-space: nowrap;
                        opacity: 0;
                        transform: translateY(70px);
                        transition: 3s 1s;
                    }
                }
            }

            & .img_sub {
                padding-top: 5%;
                padding-bottom: 40%;
                position: relative;
                opacity: 0;
                transform: translateY(70px);
                transition: 3s;

                &.end {
                    padding-bottom: 46%;
                }

                &.show {
                    opacity: 1;
                    transform: none;

                    & .contentsText {

                        & h2,
                        p {
                            opacity: 1;
                            transform: none;
                        }
                    }
                }

                & .contentsText {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: absolute;
                    left: 50%;
                    top: 70%;
                    transform: translateY(-50%) translateX(-50%);
                    @include f_style();
                    color: $mwhite;

                    & h2 {
                        @include f_style($l_height:2.5, $f_size:5.5rem, $le_sp:7px);
                        white-space: nowrap;
                        opacity: 0;
                        transform: translateY(70px);
                        transition: 3s .5s;
                    }

                    & p {
                        @include f_style($l_height:4rem, $f_size:2.4rem, $le_sp:5px);
                        white-space: nowrap;
                        opacity: 0;
                        transform: translateY(70px);
                        transition: 3s 1s;
                    }
                }
            }
        }
    }
}
