{% extends 'mysite/base.html' %}
{% load static %}

{% block content %}
<main class="about">
    <div class="about_image">
        <img src="{% static '/images/about/snow_blindness.png' %}" alt="">
        <div class="content_description">
            <p class="description">
                <br>
                MOTOYA ITO | 伊東 基也<br />
                <br>
                <br>
                岩手県奥州市生まれ | 現在は大阪在住<br />
                <br>
                京都造芸大学 通信教育学部 建築 design 学科<br />
                ※ 在籍中 (今は事故に遭い休学中)<br />
                <br>
                <br>
                「 think to build , build to think 」 <br>
                <br>
                - つくるために考え・考えるためにつくる - <br>
                <br>
                子供達・大切な人達が笑顔で明るい未来の為に
            </p>
        </div>
    </div>
</main>
{% endblock %}
