{% extends 'mysite/base.html' %}
{% load static %}

{% block content %}
<main class="about">
    <div class="about_image">
        <div class="bgimg_about" style="background-image: url(/static/images/about/snow_blindness.png);"></div>
        <div class="drection">
            <h1 class="mb-5">MOTOYA ITO | 伊東 基也</h1>
            <br>
            <p class="">
                岩手県奥州市 | 現在は大阪在住<br />
                エンジニアに転身中<br />
                <br>
                Devlopment <br />
                Python(Django, Numpy, Pandas, Matplotlib) <br />
                HTML, CSS(scss), Javascript <br />
                GitHub, Docker, AWS, GAE, Azure ect... <br />
                <br />
                AI(機械学習, 深層学習, Data sience) 学習中<br>
                <br>
                事故に遭う人を一人でも無くしたい <br>
                事故を起こす人を減らしたい <br>
                人は必ずミスをします <br>
                子供達・大切な人達が笑顔で明るい未来を迎える為に... <br>
                <br>
                <br>
                「 エンジニアリング・最先端の技術を駆使して明るい未来を築く 」 <br>
            </p>
        </div>
    </div>
</main>
{% endblock %}
