{% extends 'mysite/base.html' %}
{% load static %}

{% block content %}
<main class="content_account text-center">
    <div class="row">
        <div class="col-xxl-10 p-0">
            <h3 class="pb-4">
                User Account
            </h3>
            <form class="row d-flex justify-content-center p-3 g-3" method="POST">
                <hr>
                {% csrf_token %}
                <div class="form-outline p-0 col-xl-6 mb-4 me-2">
                    <input type="text" class="form-control" id="id_username" name="username" value="{{ user.profile.username }}">
                    <label class="form-label fs-4">user name</label>
                </div>
                <div class="form-outline p-0 col-xl-4 mb-4">
                    <input type="text" class="form-control" id="id_zipcode" name="zipcode" value="{{ user.profile.zipcode }}">
                    <label class="form-label fs-4">郵便番号</label>
                </div>
                <div class="p-0 col-xl-4 mb-4">
                    <select id="id_prefecture" name="prefecture" class="form-select form-select-lg">
                        <option selected><label class="form-label">都道府県</label></option>
                        <option>大阪</option>
                    </select>
                </div>
                <div class="form-outline p-0 col-xl-6 mb-4 ms-2">
                    <input type="text" class="form-control" id="id_city" name="city" value="{{ user.profile.city }}">
                    <label class="form-label fs-4">市区</label>
                </div>
                <div class="form-outline p-0 col-xl-10 mb-5">
                    <input type="text" class="form-control" id="id_address" name="address" placeholder="" value="{{ user.profile.address }}">
                    <label class="form-label fs-4">住所</label>
                </div>
                <div class="col-10">
                    <button class="btn btn-black-50 hover-overlay ripple text-capitalize me-2" type="submit">save</button>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}
