{% extends 'mysite/base.html' %}
{% load static %}

{% block content %}
<main class="content_account">
    <div class="row d-flex justify-content-center">
        <div class="col-xxl-10 p-0 account_area">
            <form class="row g-3 needs-validation row d-flex justify-content-center" method="POST" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                <!-- User image -->
                {% include 'mysite/snippets/profile_image.html' %}
                <!-- User image -->
                <h3 class="pb-3">
                    User Account
                </h3>
                <hr class="mb-3">
                <div class="col-xl-6 position-relative pb-3">
                    <div class="form-outline">
                        <input type="text" class="form-control" id="id_username" name="username" value="{{ user.profile.username }}">
                        <label class="form-label fs-4">user name</label>
                    </div>
                </div>
                <div class="col-xl-3 position-relative pb-3">
                    <div class="form-outline">
                        <input type="text" class="form-control" id="id_zipcode" name="zipcode" value="{{ user.profile.zipcode }}">
                        <label class="form-label fs-4">郵便番号</label>
                    </div>
                </div>
                <div class="col-xl-3 position-relative pb-3">
                    <select id="id_prefecture" name="prefecture" class="form-select form-select-lg">
                        <option selected><label class="form-label">都道府県</label></option>
                        <option>大阪</option>
                    </select>
                </div>
                <div class="col-xl-5 position-relative pb-3">
                    <div class="form-outline">
                        <input type="text" class="form-control" id="id_city" name="city" value="{{ user.profile.city }}">
                        <label class="form-label fs-4">市区</label>
                    </div>
                </div>
                <div class="col-xl-7 position-relative pb-3">
                    <div class="form-outline">
                        <input type="text" class="form-control" id="id_address" name="address" placeholder="" value="{{ user.profile.address }}">
                        <label class="form-label fs-4">住所</label>
                    </div>
                </div>
                <div class="col-10">
                    <button class="btn btn-black-50 hover-overlay ripple text-capitalize mt-5" type="submit">save</button>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}
