{% extends 'mysite/base_auth.html' %}
{% load static %}

{% block content %}
<div class="content_auth">
    <div class="row">
        <div class="col-lg-5 p-0 title_box">
            <h1 class="text-center"><a href="/" class="login_title">MoTo LaBo</a></h1>
        </div>
        <div class="col-lg-3 login_box ">
            <form class="form-signin mx-5 mb-5 mt-5" method="POST">{% csrf_token %}
                <h1 class="display-6 my-4 me-5">
                    {% if 'login' in request.path %}
                    Login
                    {% elif 'signup' in request.path %}
                    新規登録
                    {% endif %}
                </h1>
                <div class="form-label-group mb-5">
                    <input type="email" id="id_email" name="{% if 'login' in request.path %}username{% elif 'signup' in request.path %}email{% endif %}" class="form-control" placeholder="Email address" required autofocus>
                </div>
                <div class="form-label-group mb-5">
                    <input type="password" id="id_password" class="form-control" placeholder="Password" name="password" required>
                </div>
                <button type="submit" class="btn btn-lg btn-black-50 hover-overlay ripple">ログイン</button>
            </form>
            {% if 'login' in request.path %}
            <div class="test-center">
                <a href="/signup/" class="text-decoration-underline">新規登録へ</a>
            </div>
            {% elif 'signup' in request.path %}
            <div class="text-center">
                <a href="/login/" class="text-decoration-underline">Loginへ</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
