<!DOCTYPE html>
{% load static %}
<html lang="ja">

<head>
    {% include 'mysite/snippets/head.html' %}
</head>

<body>
    {% include 'mysite/snippets/header_identity.html' %}
    {% include 'mysite/mobile.html' %}

    {% block content %}
    {% endblock %}

    {% include 'mysite/snippets/footer_identity.html' %}
    <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>
    <script src="/static/scripts/main.js" defer></script>
    <script src="/static/scripts/libs/scroll.js" defer></script>
</body>

</html>
