{% extends 'mysite/base_identity.html' %}
{% load static %}

{% block content %}
<main class="identity_bg">
    <div class="content_identity row d-flex justify-content-center">

        <div class="scrolldown1"><span>Scroll</span></div>

        <div class="img_main bg-image col-12" id="animationTarget">
            <img class="img-fluid moto" src="{% static '/images/identity/moto_log.png' %}" alt="MoTo log">
            <div class="contentsText col-12">
                <h2>MoTo LaBo</h2>
                <p>「 think to build , build to think 」</p>
                <p>- つくるために考え・考えるためにつくる -</p>
            </div>
        </div>

        <div class="img_sub bg-image col-12" id="animationTarget">
            <img class="img-fluid" src="{% static '/images/identity/mountains.png' %}" alt="mountains">
            <div class="contentsText col-12">
                <h2>自然の歳月</h2>
                <p>焦ることも急ぐこともない</p>
                <p>ただひたすらに時と共に遷り変わる</p>
            </div>
        </div>

        <div class="img_sub bg-image col-12" id="animationTarget">
            <img class="img-fluid water_well" src="{% static '/images/identity/water_well.png' %}" alt="water well">
            <div class="contentsText col-12">
                <h2>汲み取る</h2>
                <p>汲みとる力 = 想像力・創造力 = 優しさ</p>
            </div>
        </div>

        <div class="img_sub bg-image col-12" id="animationTarget">
            <img class="img-fluid" src="{% static '/images/identity/scoop_out.png' %}" alt="scoop out">
            <div class="contentsText col-12">
                <h2>生命の源泉</h2>
                <p>生きる為に必要なものとは…</p>
            </div>
        </div>

        <div class="img_sub end bg-image col-12" id="animationTarget">
            <img class="img-fluid nature" src="{% static '/images/identity/flow_of_nature.png' %}" alt="flow of nature">
            <div class="contentsText col-12">
                <h2>基となる</h2>
                <p>透き通る水のように淀みなく流れ続け</p>
                <p>全ての基となる</p>
                <p></p>
            </div>
        </div>

    </div>
</main>
{% endblock %}
