{% extends 'mysite/base.html' %}
{% load static %}
{% block content %}
<main class="main">
    <div class="main__images">
        <div class="main__images-pohoto" style="background-image: url(static/images/top/freeze.jpg)"></div>
        <div class="main__images-pohoto" style="background-image: url(static/images/top/colored_carp.jpg);"></div>
        <div class="main__images-pohoto" style="background-image: url(static/images/top/maple.jpg)"></div>
        <div class="main__images-pohoto" style="background-image: url(static/images/top/tatamiroom.jpg);"></div>
        <div class="main__images-logo">
            <img src="{% static 'images/top/motologo.png' %}" alt="基ロゴ" />
        </div>
    </div>
</main>
{% endblock %}
