{% extends 'mysite/base.html' %}
{% load static %}
{% block content %}
<main class="index" id="index">
    <div class="main__images">
        <div class="main__images-photo" style="background-image: url(static/images/top/freeze.jpg)"></div>
        <div class="main__images-photo" style="background-image: url(static/images/top/colored_carp.jpg);"></div>
        <div class="main__images-photo" style="background-image: url(static/images/top/maple.jpg)"></div>
        <div class="main__images-photo" style="background-image: url(static/images/top/tatamiroom.jpg);"></div>
        <div class="main__images-logo">
            <img src="{% static 'images/top/motologo.png' %}" alt="基ロゴ" />
        </div>
        <div class="top_title" id="top_title">
            <h1 class="meta mb-5">MoTo LaBo</h1>
            <p class="sub mb-5">「 think to build , build to think 」</p>
            <p class="sub-j mb-5">- つくるために考え・考えるためにつくる -</p>
        </div>
    </div>
</main>
{% endblock %}
