{% load static %}

<div id="global-container">
    <button class="mobile-menu_btn">
        <span></span>
        <span></span>
        <span></span>
    </button>
    <div id="container">
        <header class="header">
            <nav class="mobile-menu">
                <ul class="mobile-menu_main">
                    <li class="mobile-menu__item">
                        <a href="/blog/articles/">
                            <span class="main-title">LABO</span>
                        </a>
                    </li>
                    <li class="mobile-menu__item">
                        <a href="/about/">
                            <span class="main-title">ABOUT</span>
                        </a>
                    </li>
                    <li class="mobile-menu__item">
                        <a href="/identity/">
                            <span class="main-title">IDENTITY</span>
                        </a>
                    </li>
                    <li class="mobile-menu__item">
                        <a href="/contact/">
                            <span class="main-title">CONTACT</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="side_copy">
            <span>&copy; 2021 MoTo LaBo</span> </aside>
        </div>
        <footer class="footer">
            <div class="footer__sns-links">
                <ul>
                    <li>
                        <!-- Twitter -->
                        <a class="sns_link btn btn-link btn-floating btn-lg" href="https://twitter.com/MoTo_labo" role="button" data-mdb-ripple-color="dark"><i class="icon fab fa-twitter fa-2x"></i></a>
                    </li>
                    <li>
                        <!-- note -->
                        <a class="sns_link btn btn-link btn-floating btn-lg" href="https://note.com/moto_labo" role="button" data-mdb-ripple-color="dark"><i class="icon far fa-sticky-note fa-2x"></i></a>
                    </li>
                    <li>
                        <!-- Github -->
                        <a class="sns_link btn btn-link btn-floating btn-lg" href="https://github.com/MoTo-LaBo" role="button" data-mdb-ripple-color="dark"><i class="icon fab fa-github fa-2x"></i></a>
                    </li>
                </ul>
            </div>
        </footer>
    </div>
</div>
