{% extends 'mysite/base.html' %}
{% load static %}
{% block content %}
<div class="content_list p-0">
    <div class="row row-cols-1 row-cols-xxl-3 g-4">
        {% for obj in page_obj %}
        <div class="col p-0 mt-0 px-4 pb-5">
            <div class="bg-image hover-overlay ripple rounded-0" data-mdb-ripple-color="light">
                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/full page/2.jpg" alt="Card image cap" />
                <a href="/blog/{{ obj.id }}/">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
            </div>
            <div class="card-body pb-0">
                <h4 class="card-title mb-0 ">{{ obj.title }}</h4>
                <hr class="mb-0">
                <p class="card-text collapse mt-3 mb-3" id="multiCollapseExample{{ obj.id }}">
                    {{ obj.text|slice:':100' }}
                </p>
                <div class="d-flex justify-content-between mt-3">
                    <div>
                        <i class="fas fa-hand-holding-heart fa-sm text-muted p-md-1 my-2 me-0" data-mdb-toggle="tooltip" data-mdb-placement="top" title="I like it">{{ obj.count }}</i>
                        <a href="/blog/{{ obj.id }}/">
                            <i class="fas fa-hand-point-up fa text-muted p-md-1 my-2 me-2" data-mdb-toggle="tooltip" data-mdb-placement="top" title="View this article"></i>
                        </a>
                    </div>
                    <a class="btn btn-black-50 hover-overlay ripple text-capitalize" data-mdb-toggle="collapse" href="#multiCollapseExample{{ obj.id }}" role="button" aria-expanded="false" aria-controls="multiCollapseExample{{ obj.id }}">article</a>
                </div>
                <hr class="mb-0 mt-3">
                <p class="author text-center p-3">{{ obj.author }}</p>
                <div class="card-footer p-3">
                    <small class="created_at text-muted">{{ obj.created_at }}</small>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% include 'mysite/snippets/pagenation.html' %}
</div>
{% endblock %}
