{% extends 'mysite/base.html' %}
{% load static %}
{% block content %}
<div class="content_detail p-0">
    <div class="card shadow-5-strong">
        <div class="bg-image hover-overlay ripple rounded-0" data-mdb-ripple-color="light">
            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/full page/2.jpg" alt="Card image cap" />
        </div>
        <div class="card-body p-4">
            <h4 class="card-title mb-0 ">{{ article.title }}</h4>
            <hr class="mb-0">
            <p class="card-text collapse mt-3 mb-3" id="multiCollapseExample{{ article.id }}">
                {{ article.text | safe | linebreaksbr | urlize }}
            </p>
            <div class="d-flex justify-content-between m-3">
                <div>
                    <a href="javascript:void(0);" onclick="window.history.back();" class="btn btn-black-50 hover-overlay ripple me-2">戻る</a>
                    {% if user.is_authenticated %}
                    <a href="#" class="btn btn-black-50 hover-overlay ripple me-2">更新</a>
                    <a href="#" class="btn btn-black-50 hover-overlay ripple me-2">削除</a>
                    {%  endif %}
                    {% include 'mysite/snippets/like_count.html' %}
                    {% include 'mysite/snippets/tag.html' %}
                </div>
                <a class="btn btn-black-50 hover-overlay ripple" data-mdb-toggle="collapse" href="#multiCollapseExample{{ article.id }}" role="button" aria-expanded="false" aria-controls="multiCollapseExample{{ article.id }}">読む</a>
            </div>
            <div class="card-footer p-3">
                <small class="created_at text-muted">{{ article.author }}&nbsp;{{ article.created_at }}</small>
            </div>
            {% include 'mysite/snippets/comment.html' %}
        </div>
    </div>
</div>
{% endblock %}
