@charset "UTF-8";
/* もし要素やボックスモデルによっては、content-boxを使いたいと思った時に、
box-sizing: border-box この書き方だと親要素含め子要素すべてに対してまた
content-boxを指定し直さなければいけません。
しかし、下記のように親要素を継承するように書いておけば、親要素のみcontent-boxを
指定するだけで、その子要素にもcontent-boxが適用される、といった形になるため、
汎用性があります。　↓ */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* class = "noen" を与えることによって画面から非表示になる */
.noen {
  display: none;
}

html {
  font-size: 62.5%;
  width: 100%;
  box-sizing: border-box;
}
html body {
  color: #333;
  font-family: vdl-v7gothic, sans-serif;
  font-weight: 300;
  font-size: 1.6em;
  font-style: normal;
  text-align: center;
}
html body a:hover {
  opacity: 0.5;
  text-decoration: none;
}
html body .form-control {
  color: #757575;
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(0, 0, 0, 0.25);
  font-size: 1.6rem;
  letter-spacing: 1px;
}
html body .form-control:focus {
  color: #757575;
  background-color: rgba(255, 255, 255, 0.5);
  outline: 0;
  font-weight: 300 !important;
  border-color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 0 1px #fff3;
}
html body .form-outline {
  color: rgba(255, 255, 255, 0.2);
}

.header {
  text-align: left;
  display: inline-block;
  position: fixed;
  top: 100px;
  left: 0;
  margin: 0 0 0 75px;
  line-height: 2.4rem !important;
  font-size: 2rem !important;
  letter-spacing: 1px !important;
}
.header__logo {
  margin-bottom: 260px;
}
.header__menu {
  font-size: 2rem;
  margin-left: 5px;
  /*現在地とhoverの設定*/
}
.header__menu ul li {
  margin-bottom: 25px;
}
.header__menu ul li a {
  text-decoration: none;
  letter-spacing: 2px;
  color: #333;
  padding: 5px;
}
.header__menu ul.gnavi li a {
  /*線の基点とするためrelativeを指定*/
  position: relative;
}
.header__menu ul.gnavi li a::after {
  content: "";
  /*絶対配置で線の位置を決める*/
  position: absolute;
  bottom: 0;
  left: 7%;
  /*線の形状*/
  width: 80%;
  height: 1px;
  background: #333;
  /*アニメーションの指定*/
  transition: all 1s;
  transform: scale(0, 1);
  /*X方向0、Y方向1*/
  transform-origin: left top;
  /*左上基点*/
}
.header__menu ul.gnavi li a:hover {
  color: #333;
}
.header__menu ul.gnavi li a:hover::after {
  transform: scale(1, 1);
  /*X方向にスケール拡大*/
}

.side_copy {
  display: inline-block;
  position: fixed;
  top: 50%;
  right: -2%;
  margin: 0 0 0 0;
  transform: rotate(90deg);
  letter-spacing: 2px;
  line-height: 2rem !important;
  font-size: 1.6rem !important;
  letter-spacing: 3px !important;
}

.footer {
  text-align: center;
  margin-left: 90px;
  z-index: 0;
  line-height: 2.4rem !important;
  font-size: 2rem !important;
  letter-spacing: 1px !important;
}
.footer__sns-links {
  position: fixed;
  bottom: 50px;
}
.footer__sns-links ul li {
  display: inline-block;
  margin-right: 31px;
}
.footer__sns-links ul li a.sns_link {
  text-decoration: none;
}
.footer__sns-links ul li a.sns_link:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}
.footer__sns-links ul li a.sns_link i.icon {
  color: #333;
}

main {
  line-height: 2.4rem !important;
  font-size: 2rem !important;
  letter-spacing: 1px !important;
}
main .main__images {
  height: 100vmin;
  margin: 0 0 0 350px;
  background-size: 81vw;
  overflow: hidden;
  position: relative;
}
main .main__images .top_title {
  /*要素の配置*/
  position: absolute;
  /*要素を天地中央寄せ*/
  top: 49%;
  left: 42%;
  text-align: center;
  transform: translateY(-50%) translateX(-50%);
  /*見た目の調整*/
  color: #757575;
}
main .main__images .top_title .meta {
  font-size: 5.5rem;
  letter-spacing: 8px;
}
main .main__images .top_title .sub {
  font-size: 2.5rem;
  letter-spacing: 3px;
}
main .main__images .top_title .sub-j {
  font-size: 2rem;
  letter-spacing: 2px;
}
main .main__images-pohoto {
  z-index: 10;
  opacity: 0;
  height: 100%;
  width: 105%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  -webkit-animation: anime 24s 0s infinite;
          animation: anime 24s 0s infinite;
}
main .main__images-pohoto::before {
  display: block;
  content: "";
  padding-top: 50%;
}
main .main__images-pohoto:nth-of-type(2) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}
main .main__images-pohoto:nth-of-type(3) {
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}
main .main__images-pohoto:nth-of-type(4) {
  -webkit-animation-delay: 18s;
          animation-delay: 18s;
}
@-webkit-keyframes anime {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
    transform: translateX(-37px);
    z-index: 9;
  }
  100% {
    opacity: 0;
  }
}
@keyframes anime {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
    transform: translateX(-37px);
    z-index: 9;
  }
  100% {
    opacity: 0;
  }
}
main .main__images-logo {
  position: fixed;
  right: 55px;
  bottom: 45px;
  z-index: 11;
}

.content_auth {
  margin: 20% 0 0 0;
  line-height: 2.4rem !important;
  font-size: 2rem !important;
  letter-spacing: 1px !important;
}
.content_auth .btn {
  padding: 0.8rem 1.5rem !important;
  font-size: 1.4rem !important;
  letter-spacing: 1px;
}
.content_auth .btn:hover {
  opacity: 0.5;
  color: #4f4f4f;
  background-color: #ffffff;
}
.content_auth .title_box {
  margin: auto 7% auto auto;
}
.content_auth .title_box .login_title {
  font-size: 5.5rem;
  letter-spacing: 8px;
  color: #757575;
}
.content_auth .login_box {
  margin: 0 18% 0 0;
}

.content {
  margin: 165px 25% 0% 25%;
  line-height: 2.4rem !important;
  font-size: 2rem !important;
  letter-spacing: 1px !important;
}
.content .btn {
  padding: 0.8rem 1.5rem !important;
  font-size: 1.4rem !important;
  letter-spacing: 1px;
}
.content .card-text,
.content .author,
.content .created_at {
  line-height: 2.4rem !important;
  font-size: 1.6rem !important;
  letter-spacing: 1px !important;
}
.content_detail {
  top: 9%;
  position: absolute;
  margin: 0% 25% 0% 25%;
  line-height: 2.4rem !important;
  font-size: 2rem !important;
  letter-spacing: 1px !important;
}
.content_detail .btn {
  padding: 0.8rem 1.5rem !important;
  font-size: 1.4rem !important;
  letter-spacing: 1px;
}
.content_detail .card-text,
.content_detail .author,
.content_detail .created_at {
  line-height: 2.4rem !important;
  font-size: 1.6rem !important;
  letter-spacing: 1px !important;
}
.content .pagination .current {
  line-height: 1rem !important;
  font-size: 1.5rem !important;
  letter-spacing: 0px !important;
}/*# sourceMappingURL=style.css.map */