@charset "UTF-8";
/* もし要素やボックスモデルによっては、content-boxを使いたいと思った時に、
box-sizing: border-box この書き方だと親要素含め子要素すべてに対してまた
content-boxを指定し直さなければいけません。
しかし、下記のように親要素を継承するように書いておけば、親要素のみcontent-boxを
指定するだけで、その子要素にもcontent-boxが適用される、といった形になるため、
汎用性があります。　↓ */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* class = "noen" を与えることによって画面から非表示になる */
.noen {
  display: none;
}

html {
  font-size: 62.5%;
  width: 100%;
  box-sizing: border-box;
}
html body {
  color: #333;
  font-family: vdl-v7gothic, sans-serif;
  font-weight: 300;
  font-size: 1.6em;
  font-style: normal;
  text-align: center;
}
html body a:hover {
  opacity: 0.5;
  text-decoration: none;
}
html body .form-control {
  color: #757575;
  background-color: rgba(0, 0, 0, 0.1) !important;
  border: 2px solid rgba(0, 0, 0, 0.25) !important;
  font-size: 1.6rem;
  letter-spacing: 1px !important;
}
html body .form-control:focus {
  color: #757575;
  background-color: rgba(255, 255, 255, 0.5) !important;
  outline: 0 !important;
  font-weight: 300 !important;
  border-color: rgba(0, 0, 0, 0.3) !important;
  box-shadow: inset 0 0 0 1px #fff3 !important;
}
html body .form-outline {
  color: rgba(255, 255, 255, 0.2);
}

.header {
  text-align: left;
  display: inline-block;
  position: fixed;
  top: 100px;
  left: 0;
  margin: 0 0 0 75px;
  line-height: 2.4rem !important;
  font-size: 2rem !important;
  letter-spacing: 1px !important;
}
.header__logo {
  margin-bottom: 260px;
}
.header__menu {
  font-size: 2rem;
  margin-left: 5px;
  /*現在地とhoverの設定*/
  /*現在地とhoverの設定*/
}
.header__menu ul li {
  margin-bottom: 25px;
}
.header__menu ul li.login_out {
  line-height: 2.4rem !important;
  font-size: 2.5rem !important;
  letter-spacing: 2px !important;
  margin: 40% 0 -40% 15%;
}
.header__menu ul li.author {
  margin-top: 80%;
  font-size: 1.8rem;
  letter-spacing: 2px;
}
.header__menu ul li a {
  text-decoration: none;
  letter-spacing: 2px;
  color: #333;
  padding: 5px;
}
.header__menu ul.gnavi li a {
  /*線の基点とするためrelativeを指定*/
  position: relative;
}
.header__menu ul.gnavi li a.bg_black {
  /*背景色の基点とするためrelativeを指定*/
  position: relative;
  /*アニメーションの指定*/
  transition: all 0.5s;
}
.header__menu ul.gnavi li a::after {
  content: "";
  /*絶対配置で線の位置を決める*/
  position: absolute;
  bottom: 0;
  left: 7%;
  /*線の形状*/
  width: 80%;
  height: 1px;
  background: #333;
  /*アニメーションの指定*/
  transition: all 1s;
  transform: scale(0, 1);
  /*X方向0、Y方向1*/
  transform-origin: left top;
  /*左上基点*/
}
.header__menu ul.gnavi li a.bg_black::after {
  content: "";
  /*絶対配置で線の位置を決める*/
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  /*背景の形状*/
  width: 0;
  height: 1px;
  background: #000000;
  opacity: 0;
  /*はじめは透過を0に*/
}
.header__menu ul.gnavi li a:hover {
  color: #333;
}
.header__menu ul.gnavi li a:hover::after {
  transform: scale(1, 1);
  /*X方向にスケール拡大*/
}
.header__menu ul.gnavi li a.bg_black:hover::after {
  /*背景の形状*/
  width: 100%;
  opacity: 1;
  /*アニメーションの指定*/
  -webkit-animation: bgappear 0.7s forwards;
          animation: bgappear 0.7s forwards;
  /*アニメーションで線を伸ばして背景をつける*/
}
@-webkit-keyframes bgappear {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  70% {
    width: 100%;
    height: 1px;
  }
  85% {
    width: 100%;
    height: 75%;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #0000005d;
  }
}
@keyframes bgappear {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  70% {
    width: 100%;
    height: 1px;
  }
  85% {
    width: 100%;
    height: 75%;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #0000005d;
  }
}
.header__menu ul.gnavi li a.bg_black:hover {
  color: white;
  /*テキストを最前面へ*/
  z-index: 10;
}

.side_copy {
  display: inline-block;
  position: fixed;
  top: 50%;
  right: -2%;
  margin: 0 0 0 0;
  transform: rotate(90deg);
  letter-spacing: 2px;
  line-height: 2rem !important;
  font-size: 1.6rem !important;
  letter-spacing: 3px !important;
}

.footer {
  text-align: center;
  margin-left: 90px;
  z-index: 0;
  line-height: 2.4rem !important;
  font-size: 2rem !important;
  letter-spacing: 1px !important;
}
.footer__sns-links {
  position: fixed;
  bottom: 50px;
}
.footer__sns-links ul li {
  display: inline-block;
  margin-right: 31px;
}
.footer__sns-links ul li a.sns_link {
  text-decoration: none;
}
.footer__sns-links ul li a.sns_link:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}
.footer__sns-links ul li a.sns_link i.icon {
  color: #333;
}

main {
  line-height: 2.4rem !important;
  font-size: 2rem !important;
  letter-spacing: 1px !important;
}
main .main__images {
  height: 100vmin;
  margin: 0 0 0 350px;
  background-size: 81vw;
  overflow: hidden;
  position: relative;
}
main .main__images .top_title {
  /*要素の配置*/
  position: absolute;
  /*要素を天地中央寄せ*/
  top: 49%;
  left: 42%;
  text-align: center;
  transform: translateY(-50%) translateX(-50%);
  /*見た目の調整*/
  color: #757575;
}
main .main__images .top_title .meta {
  font-size: 5.5rem;
  letter-spacing: 8px;
}
main .main__images .top_title .sub {
  font-size: 2.5rem;
  letter-spacing: 3px;
}
main .main__images .top_title .sub-j {
  font-size: 2rem;
  letter-spacing: 2px;
}
main .main__images-pohoto {
  z-index: 10;
  opacity: 0;
  height: 100%;
  width: 105%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  -webkit-animation: anime 24s 0s infinite;
          animation: anime 24s 0s infinite;
}
main .main__images-pohoto::before {
  display: block;
  content: "";
  padding-top: 50%;
}
main .main__images-pohoto:nth-of-type(2) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}
main .main__images-pohoto:nth-of-type(3) {
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}
main .main__images-pohoto:nth-of-type(4) {
  -webkit-animation-delay: 18s;
          animation-delay: 18s;
}
@-webkit-keyframes anime {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
    transform: translateX(-37px);
    z-index: 9;
  }
  100% {
    opacity: 0;
  }
}
@keyframes anime {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
    transform: translateX(-37px);
    z-index: 9;
  }
  100% {
    opacity: 0;
  }
}
main .main__images-logo {
  position: fixed;
  right: 55px;
  bottom: 45px;
  z-index: 11;
}

.content_auth {
  margin: 19% 0 0 0;
  line-height: 2.4rem !important;
  font-size: 2rem !important;
  letter-spacing: 1px !important;
}
.content_auth a {
  color: #757575;
  letter-spacing: 2px;
}
.content_auth .btn {
  padding: 0.8rem 1.5rem !important;
  font-size: 1.6rem !important;
  letter-spacing: 1px;
}
.content_auth .btn:hover {
  opacity: 0.5 !important;
  color: #4f4f4f !important;
  background-color: #ffffff !important;
}
.content_auth .title_box {
  margin: auto 7% 6% auto;
}
.content_auth .title_box .login_title {
  font-size: 5.5rem;
  letter-spacing: 8px;
  color: #757575;
}
.content_auth .login_box {
  margin: 0 19% 0 0;
}

.alert {
  position: fixed;
  top: 210px;
  z-index: 20;
  width: 100%;
  color: #333;
  background-color: #ffffff51;
  line-height: 2rem !important;
  font-size: 2rem !important;
  letter-spacing: 2px !important;
}

.content {
  margin: 165px 25% 0% 25%;
  line-height: 2.4rem !important;
  font-size: 2rem !important;
  letter-spacing: 1px !important;
}
.content .btn {
  padding: 0.8rem 1.5rem !important;
  font-size: 1.6rem !important;
  letter-spacing: 1px;
}
.content .card-text,
.content .author,
.content .created_at {
  line-height: 2.4rem !important;
  font-size: 1.6rem !important;
  letter-spacing: 1px !important;
}
.content .pagination .current {
  line-height: 1rem !important;
  font-size: 1.5rem !important;
  letter-spacing: 0px !important;
}
.content_detail {
  position: absolute;
  margin: 6% 30% 0% 30%;
  line-height: 2.4rem !important;
  font-size: 2rem !important;
  letter-spacing: 1px !important;
}
.content_detail .btn {
  padding: 0.8rem 1.5rem !important;
  font-size: 1.6rem !important;
  letter-spacing: 1px;
}
.content_detail .like_btn .btn {
  padding: 0.8rem 1.5rem !important;
  font-size: 1.6rem !important;
  letter-spacing: 1px;
}
.content_detail .like_btn .btn:hover {
  opacity: 0.5 !important;
  color: #ff0000 !important;
  background-color: #ffffff !important;
}
.content_detail .tag_btn {
  padding: 0.4rem 0.6rem !important;
  font-size: 1.1rem !important;
  letter-spacing: 1px;
  color: #ffffff;
  background-color: #00000051 !important;
}
.content_detail .tag_btn .text-muted {
  color: #757575;
}
.content_detail .tag_btn:hover {
  opacity: 0.8 !important;
  color: #757575 !important;
  background-color: #ffffff52 !important;
}
.content_detail .card-title {
  line-height: 2.4rem !important;
  font-size: 2.4rem !important;
  letter-spacing: 1px !important;
}
.content_detail .card-text {
  line-height: 2.4rem !important;
  font-size: 1.8rem !important;
  letter-spacing: 1px !important;
}
.content_detail .created_at {
  line-height: 2.4rem !important;
  font-size: 1.6rem !important;
  letter-spacing: 1px !important;
}
.content_detail .comments {
  line-height: 2rem !important;
  font-size: 1.5rem !important;
  letter-spacing: 1px !important;
}
.content_detail .comments .input-group .input-group-text {
  line-height: 2rem !important;
  font-size: 1.5rem !important;
  letter-spacing: 1px !important;
}
.content_detail .comments .input-group .textarea {
  line-height: 2.4rem !important;
  font-size: 1.6rem !important;
  letter-spacing: 1px !important;
  height: 35px;
}
.content_detail .comments .comment_btn:hover {
  opacity: 0.5 !important;
  color: #4f4f4f !important;
  background-color: #ffffff !important;
}
.content_detail .comments .link_login {
  color: #757575;
  letter-spacing: 2px;
}
.content_account {
  margin: 18% 18% 0% 27%;
}
.content_account .btn {
  padding: 0.8rem 1.5rem !important;
  font-size: 1.6rem !important;
  letter-spacing: 1px;
}
.content_account .btn:hover {
  opacity: 0.5 !important;
  color: #4f4f4f !important;
  background-color: #ffffff !important;
}
.content_account .form-select {
  line-height: 2.4rem !important;
  font-size: 2rem !important;
  letter-spacing: 1px !important;
}
.content_account .form-control {
  color: #757575;
  background-color: rgba(0, 0, 0, 0.1) !important;
  border: 0px solid rgba(0, 0, 0, 0) !important;
  font-size: 1.8rem;
  letter-spacing: 1px !important;
}
.content_account .form-control:focus {
  color: #757575;
  background-color: rgba(0, 0, 0, 0.35);
  outline: 0;
  font-weight: 300 !important;
  border-color: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0 1px #ffffff62;
}/*# sourceMappingURL=style.css.map */