@charset "UTF-8";
/* もし要素やボックスモデルによっては、content-boxを使いたいと思った時に、
box-sizing: border-box この書き方だと親要素含め子要素すべてに対してまた
content-boxを指定し直さなければいけません。
しかし、下記のように親要素を継承するように書いておけば、親要素のみcontent-boxを
指定するだけで、その子要素にもcontent-boxが適用される、といった形になるため、
汎用性があります。　↓ */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* class = "noen" を与えることによって画面から非表示になる */
.noen {
  display: none;
}

html {
  font-size: 62.5%;
  width: 100%;
  box-sizing: border-box;
}
html body {
  color: #333;
  font-family: vdl-v7gothic, sans-serif;
  font-weight: 300;
  font-size: 1.6em;
  font-style: normal;
  text-align: center;
}
html body a:hover {
  opacity: 0.5;
  text-decoration: none;
}
html body .form-control {
  color: #757575;
  background-color: rgba(0, 0, 0, 0.1) !important;
  border: 2px solid rgba(0, 0, 0, 0.25) !important;
  font-size: 1.6rem;
  letter-spacing: 1px !important;
}
html body .form-control:focus {
  color: #757575;
  background-color: rgba(255, 255, 255, 0.5) !important;
  outline: 0 !important;
  font-weight: 300 !important;
  border-color: rgba(0, 0, 0, 0.3) !important;
  box-shadow: inset 0 0 0 1px #fff3 !important;
}
html body .form-outline {
  color: rgba(255, 255, 255, 0.2);
}

header.header {
  text-align: left;
  display: inline-block;
  position: fixed;
  top: 7%;
  left: 0;
  margin: 0 0 0 75px;
  line-height: 2.4rem;
  font-size: 2rem;
  letter-spacing: 1px;
}
header.header .header_logo {
  margin-bottom: 260px;
}
header.header .header_menu {
  font-size: 2rem;
  margin-left: 5px;
  /*現在地とhoverの設定*/
  /*現在地とhoverの設定*/
}
header.header .header_menu ul li {
  margin-bottom: 25px;
}
header.header .header_menu ul li.login_out {
  line-height: 2.4rem;
  font-size: 2.5rem;
  letter-spacing: 2px;
  margin: 40% 0 -40% 15%;
}
header.header .header_menu ul li.author {
  margin-top: 80%;
  font-size: 1.8rem;
  letter-spacing: 2px;
}
header.header .header_menu ul li a {
  text-decoration: none;
  letter-spacing: 2px;
  color: #333;
  padding: 5px;
}
header.header .header_menu ul.gnavi li a {
  /*線の基点とするためrelativeを指定*/
  position: relative;
}
header.header .header_menu ul.gnavi li a.bg_black {
  /*背景色の基点とするためrelativeを指定*/
  position: relative;
  /*アニメーションの指定*/
  transition: all 0.5s;
}
header.header .header_menu ul.gnavi li a::after {
  content: "";
  /*絶対配置で線の位置を決める*/
  position: absolute;
  bottom: 0;
  left: 7%;
  /*線の形状*/
  width: 80%;
  height: 1px;
  background: #333;
  /*アニメーションの指定*/
  transition: all 1s;
  transform: scale(0, 1);
  /*X方向0、Y方向1*/
  transform-origin: left top;
  /*左上基点*/
}
header.header .header_menu ul.gnavi li a.bg_black::after {
  content: "";
  /*絶対配置で線の位置を決める*/
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  /*背景の形状*/
  width: 0;
  height: 1px;
  background: #333;
  opacity: 0;
  /*はじめは透過を0に*/
}
header.header .header_menu ul.gnavi li a:hover {
  color: #333;
}
header.header .header_menu ul.gnavi li a:hover::after {
  transform: scale(1, 1);
  /*X方向にスケール拡大*/
}
header.header .header_menu ul.gnavi li a.bg_black:hover::after {
  /*背景の形状*/
  width: 100%;
  opacity: 1;
  /*アニメーションの指定*/
  -webkit-animation: bgappear 0.7s forwards;
          animation: bgappear 0.7s forwards;
  /*アニメーションで線を伸ばして背景をつける*/
}
@-webkit-keyframes bgappear {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  70% {
    width: 100%;
    height: 1px;
  }
  85% {
    width: 100%;
    height: 75%;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #0000005d;
  }
}
@keyframes bgappear {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  70% {
    width: 100%;
    height: 1px;
  }
  85% {
    width: 100%;
    height: 75%;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #0000005d;
  }
}
header.header .header_menu ul.gnavi li a.bg_black:hover {
  color: #ffffff;
  /*テキストを最前面へ*/
  z-index: 10;
}
header.identity {
  text-align: left;
  display: inline-block;
  position: fixed;
  top: 7%;
  left: 0;
  margin: 0 0 0 75px;
  line-height: 2.4rem;
  font-size: 2rem;
  letter-spacing: 1px;
}
header.identity .ide_logo {
  margin-bottom: 260px;
}
header.identity .ide_menu {
  font-size: 2rem;
  margin-left: 5px;
  /*現在地とhoverの設定*/
  /*現在地とhoverの設定*/
}
header.identity .ide_menu ul li {
  margin-bottom: 25px;
}
header.identity .ide_menu ul li.ide_login_out {
  line-height: 2.4rem;
  font-size: 2.5rem;
  letter-spacing: 2px;
  margin: 40% 0 -40% 15%;
}
header.identity .ide_menu ul li.ide_author {
  margin-top: 80%;
  font-size: 1.8rem;
  letter-spacing: 2px;
}
header.identity .ide_menu ul li a {
  text-decoration: none;
  letter-spacing: 2px;
  color: #ffffff;
  padding: 5px;
}
header.identity .ide_menu ul.ide_gnavi li a {
  /*線の基点とするためrelativeを指定*/
  position: relative;
}
header.identity .ide_menu ul.ide_gnavi li a.ide_bg {
  /*背景色の基点とするためrelativeを指定*/
  position: relative;
  /*アニメーションの指定*/
  transition: all 0.5s;
}
header.identity .ide_menu ul.ide_gnavi li a::after {
  content: "";
  /*絶対配置で線の位置を決める*/
  position: absolute;
  bottom: 0;
  left: 7%;
  /*線の形状*/
  width: 80%;
  height: 1px;
  background: #ffffff;
  /*アニメーションの指定*/
  transition: all 1s;
  transform: scale(0, 1);
  /*X方向0、Y方向1*/
  transform-origin: left top;
  /*左上基点*/
}
header.identity .ide_menu ul.ide_gnavi li a.ide_bg::after {
  content: "";
  /*絶対配置で線の位置を決める*/
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  /*背景の形状*/
  width: 0;
  height: 1px;
  background: #ffffff;
  opacity: 0;
  /*はじめは透過を0に*/
}
header.identity .ide_menu ul.ide_gnavi li a:hover {
  color: #ffffff;
}
header.identity .ide_menu ul.ide_gnavi li a:hover::after {
  transform: scale(1, 1);
  /*X方向にスケール拡大*/
}
header.identity .ide_menu ul.ide_gnavi li a.ide_bg:hover::after {
  /*背景の形状*/
  width: 100%;
  opacity: 1;
  /*アニメーションの指定*/
  -webkit-animation: bgcolor 0.7s forwards;
          animation: bgcolor 0.7s forwards;
  /*アニメーションで線を伸ばして背景をつける*/
}
@-webkit-keyframes bgcolor {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  70% {
    width: 100%;
    height: 1px;
  }
  85% {
    width: 100%;
    height: 75%;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #ffffff5d;
  }
}
@keyframes bgcolor {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  70% {
    width: 100%;
    height: 1px;
  }
  85% {
    width: 100%;
    height: 75%;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #ffffff5d;
  }
}
header.identity .ide_menu ul.ide_gnavi li a.ide_bg:hover {
  color: #ffffff;
  /*テキストを最前面へ*/
  z-index: 10;
}

.side_copy {
  display: inline-block;
  position: fixed;
  top: 50%;
  right: -2%;
  margin: 0 0 0 0;
  transform: rotate(90deg);
  letter-spacing: 2px;
  line-height: 2rem;
  font-size: 1.6rem;
  letter-spacing: 3px;
}

.side_copy_ide {
  display: inline-block;
  color: #ffffff;
  position: fixed;
  top: 50%;
  right: -2%;
  margin: 0 0 0 0;
  transform: rotate(90deg);
  letter-spacing: 2px;
  line-height: 2rem;
  font-size: 1.6rem;
  letter-spacing: 3px;
}

.footer {
  text-align: center;
  margin-left: 90px;
  z-index: 0;
  line-height: 2.4rem;
  font-size: 2rem;
  letter-spacing: 1px;
}
.footer__sns-links {
  position: fixed;
  bottom: 50px;
}
.footer__sns-links ul li {
  display: inline-block;
  margin-right: 31px;
}
.footer__sns-links ul li a.sns_link {
  text-decoration: none;
}
.footer__sns-links ul li a.sns_link:hover {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.3);
}
.footer__sns-links ul li a.sns_link i.icon {
  color: #333;
}

.footer_ide {
  text-align: center;
  margin-left: 90px;
  z-index: 0;
  line-height: 2.4rem;
  font-size: 2rem;
  letter-spacing: 1px;
}
.footer_ide .footer__sns-links {
  position: fixed;
  bottom: 50px;
}
.footer_ide .footer__sns-links ul li {
  display: inline-block;
  margin-right: 31px;
}
.footer_ide .footer__sns-links ul li a.sns_link {
  text-decoration: none;
}
.footer_ide .footer__sns-links ul li a.sns_link:hover {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.5);
}
.footer_ide .footer__sns-links ul li a.sns_link i.icon {
  color: #ffffff;
}

main {
  line-height: 2.4rem;
  font-size: 2rem;
  letter-spacing: 1px;
}
main.index .main__images {
  height: 100vmin;
  margin: 0 0 0 350px;
  overflow: hidden;
  position: relative;
}
main.index .main__images .top_title {
  /*要素の配置*/
  position: absolute;
  /*要素を天地中央寄せ*/
  top: 49%;
  left: 42%;
  transform: translateY(-50%) translateX(-50%);
  /*見た目の調整*/
  color: #757575;
  white-space: nowrap;
}
main.index .main__images .top_title .meta {
  font-size: 5.5rem;
  letter-spacing: 8px;
}
main.index .main__images .top_title .sub {
  font-size: 2.5rem;
  letter-spacing: 3px;
}
main.index .main__images .top_title .sub-j {
  font-size: 2rem;
  letter-spacing: 2px;
}
main.index .main__images-photo {
  z-index: 10;
  opacity: 0;
  height: 100%;
  width: 106%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  -webkit-animation: anime 24s 0s infinite;
          animation: anime 24s 0s infinite;
}
main.index .main__images-photo::before {
  display: block;
  content: "";
  padding-top: 50%;
}
main.index .main__images-photo:nth-of-type(2) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}
main.index .main__images-photo:nth-of-type(3) {
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}
main.index .main__images-photo:nth-of-type(4) {
  -webkit-animation-delay: 18s;
          animation-delay: 18s;
}
@-webkit-keyframes anime {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
    transform: translateX(-37px);
    z-index: 9;
  }
  100% {
    opacity: 0;
  }
}
@keyframes anime {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
    transform: translateX(-37px);
    z-index: 9;
  }
  100% {
    opacity: 0;
  }
}
main.index .main__images-logo {
  position: fixed;
  right: 55px;
  bottom: 45px;
  z-index: 11;
}
main.about .about_image {
  margin: 0 26%;
  height: 100vh;
  position: relative;
}
main.about .about_image img {
  height: 100%;
  z-index: -1;
  position: fixed;
  -o-object-fit: cover;
     object-fit: cover;
}
main.about .about_image .content_description {
  line-height: 2.4rem;
  font-size: 2rem;
  letter-spacing: 1px;
  color: #ffffff;
  text-align: left;
  font-weight: 100;
  display: inline-flex;
  margin: 20% 5%;
  justify-content: center;
  z-index: 10;
}
main.about .about_image .content_description .description {
  line-height: 3.5rem;
  font-size: 2rem;
  letter-spacing: 2px;
  font-weight: 100;
}
main.identity_bg {
  background-color: #1e1e1e;
}
main.identity_bg .content_identity:not(:root) {
  margin: 0% 25% 0% 25%;
  line-height: 2.4rem;
  font-size: 2rem;
  letter-spacing: 1px;
  padding-top: 15%;
  height: 100%;
  /* scrolldown (全体の場所)*/
}
main.identity_bg .content_identity:not(:root) .scrolldown1:not(:root) {
  position: absolute;
  top: 15%;
  left: 50%;
  margin-top: 10px;
  transform: translateY(-50%) translateX(-50%);
  /*全体の高さ*/
  height: 50px;
  /* 線の描写 */
  /*高さ・位置・透過が変化して線が上から下に動く*/
}
main.identity_bg .content_identity:not(:root) .scrolldown1:not(:root) span {
  /*描画位置*/
  position: absolute;
  top: -35%;
  transform: translateY(-50%) translatex(-50%);
  color: #ffffff;
  align-items: center;
  line-height: 2rem;
  font-size: 1.7rem;
  letter-spacing: 4px;
}
main.identity_bg .content_identity:not(:root) .scrolldown1:not(:root)::after {
  content: "";
  /*描画位置*/
  position: absolute;
  top: 0;
  /*線の形状*/
  width: 1px;
  height: 30px;
  background: #eee;
  /*線の動き1.4秒かけて動く。永遠にループ*/
  -webkit-animation: pathmove 2s ease-in-out infinite;
          animation: pathmove 2s ease-in-out infinite;
  opacity: 0;
}
@-webkit-keyframes pathmove {
  0% {
    height: 0;
    top: 0;
    opacity: 0;
  }
  30% {
    height: 30px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 50px;
    opacity: 0;
  }
}
@keyframes pathmove {
  0% {
    height: 0;
    top: 0;
    opacity: 0;
  }
  30% {
    height: 30px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 50px;
    opacity: 0;
  }
}
main.identity_bg .content_identity:not(:root) .img_main {
  padding-top: 5%;
  padding-bottom: 40%;
  position: relative;
  opacity: 0;
  transform: translateY(50px);
  transition: 3s;
}
main.identity_bg .content_identity:not(:root) .img_main.show {
  opacity: 1;
  transform: none;
}
main.identity_bg .content_identity:not(:root) .img_main.show .contentsText h2,
main.identity_bg .content_identity:not(:root) .img_main.show .contentsText p {
  opacity: 1;
  transform: none;
}
main.identity_bg .content_identity:not(:root) .img_main .contentsText {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translateY(-50%) translateX(-50%);
  line-height: 2.4rem;
  font-size: 2rem;
  letter-spacing: 1px;
  color: #ffffff;
}
main.identity_bg .content_identity:not(:root) .img_main .contentsText h2 {
  line-height: 2.5;
  font-size: 6rem;
  letter-spacing: 7px;
  white-space: nowrap;
  opacity: 0;
  transform: translateY(70px);
  transition: 3s 0.5s;
}
main.identity_bg .content_identity:not(:root) .img_main .contentsText p {
  line-height: 4rem;
  font-size: 2.5rem;
  letter-spacing: 5px;
  white-space: nowrap;
  opacity: 0;
  transform: translateY(70px);
  transition: 3s 1s;
}
main.identity_bg .content_identity:not(:root) .img_sub {
  padding-top: 5%;
  padding-bottom: 40%;
  position: relative;
  opacity: 0;
  transform: translateY(70px);
  transition: 3s;
}
main.identity_bg .content_identity:not(:root) .img_sub.end {
  padding-bottom: 46%;
}
main.identity_bg .content_identity:not(:root) .img_sub.show {
  opacity: 1;
  transform: none;
}
main.identity_bg .content_identity:not(:root) .img_sub.show .contentsText h2,
main.identity_bg .content_identity:not(:root) .img_sub.show .contentsText p {
  opacity: 1;
  transform: none;
}
main.identity_bg .content_identity:not(:root) .img_sub .contentsText {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translateY(-50%) translateX(-50%);
  line-height: 2.4rem;
  font-size: 2rem;
  letter-spacing: 1px;
  color: #ffffff;
}
main.identity_bg .content_identity:not(:root) .img_sub .contentsText h2 {
  line-height: 2.5;
  font-size: 5.5rem;
  letter-spacing: 7px;
  white-space: nowrap;
  opacity: 0;
  transform: translateY(70px);
  transition: 3s 0.5s;
}
main.identity_bg .content_identity:not(:root) .img_sub .contentsText p {
  line-height: 4rem;
  font-size: 2.4rem;
  letter-spacing: 5px;
  white-space: nowrap;
  opacity: 0;
  transform: translateY(70px);
  transition: 3s 1s;
}

.content_auth {
  margin: 19% 0 0 0;
  line-height: 2.4rem;
  font-size: 2rem;
  letter-spacing: 1px;
}
.content_auth a {
  color: #757575;
  letter-spacing: 2px;
}
.content_auth .btn {
  padding: 0.8rem 1.5rem;
  font-size: 1.6rem;
  letter-spacing: 1px;
}
.content_auth .btn:hover {
  opacity: 0.5;
  color: #4f4f4f;
  background-color: #ffffff;
}
.content_auth .title_box {
  margin: auto 7% 6% auto;
}
.content_auth .title_box .login_title {
  font-size: 5.5rem;
  letter-spacing: 8px;
  color: #757575;
}
.content_auth .login_box {
  margin: 0 19% 0 0;
}

.alert {
  position: fixed;
  top: 210px;
  z-index: 20;
  width: 100%;
  color: #333;
  background-color: #ffffff51;
  line-height: 2rem;
  font-size: 2rem;
  letter-spacing: 2px;
}

.content {
  margin: 165px 25% 0% 25%;
  line-height: 2.4rem;
  font-size: 2rem;
  letter-spacing: 1px;
}
.content .btn {
  padding: 0.8rem 1.5rem;
  font-size: 1.6rem;
  letter-spacing: 1px;
}
.content_list {
  margin: 0 25% 0 25%;
  line-height: 2.4rem;
  font-size: 2rem;
  letter-spacing: 1px;
  padding: 7% 0%;
}
.content_list .btn {
  padding: 0.8rem 1.5rem;
  font-size: 1.6rem;
  letter-spacing: 1px;
}
.content_list .card-text,
.content_list .author,
.content_list .created_at {
  line-height: 2.4rem;
  font-size: 1.6rem;
  letter-spacing: 1px;
}
.content_list .pagination .current {
  line-height: 1rem;
  font-size: 1.5rem;
  letter-spacing: 0px;
}
.content_detail {
  position: relative;
  margin: 0% 30% 0% 30%;
  line-height: 2.4rem;
  font-size: 2rem;
  letter-spacing: 1px;
  padding: 7% 0%;
  z-index: 30;
}
.content_detail .btn {
  padding: 0.8rem 1.5rem;
  font-size: 1.6rem;
  letter-spacing: 1px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.content_detail .like_btn .btn {
  padding: 0.8rem 1.5rem;
  font-size: 1.6rem;
  letter-spacing: 1px;
}
.content_detail .like_btn .btn:hover {
  opacity: 0.5;
  color: #ff0000;
  background-color: #ffffff;
}
.content_detail .tag_btn {
  padding: 0.4rem 0.6rem;
  font-size: 1.1rem;
  letter-spacing: 1px;
  color: #ffffff;
  background-color: #00000051 !important;
}
.content_detail .tag_btn .text-muted {
  color: #757575;
}
.content_detail .tag_btn:hover {
  opacity: 0.8;
  color: #757575;
  background-color: #ffffff52;
}
.content_detail .card-title {
  line-height: 2.4rem;
  font-size: 2.4rem;
  letter-spacing: 1px;
}
.content_detail .card-text {
  line-height: 3.5rem;
  font-size: 1.8rem;
  letter-spacing: 1px;
  text-align: justify;
}
.content_detail .created_at {
  line-height: 2.4rem;
  font-size: 1.6rem;
  letter-spacing: 1px;
}
.content_detail .comments {
  line-height: 2rem;
  font-size: 1.5rem;
  letter-spacing: 1px;
}
.content_detail .comments .input-group .input-group-text {
  line-height: 2rem;
  font-size: 1.5rem;
  letter-spacing: 1px;
}
.content_detail .comments .input-group .textarea {
  line-height: 2.4rem;
  font-size: 1.6rem;
  letter-spacing: 1px;
  height: 35px;
}
.content_detail .comments .comment_btn:hover {
  opacity: 0.5;
  color: #4f4f4f;
  background-color: #ffffff;
}
.content_detail .comments .link_login {
  color: #757575;
  letter-spacing: 2px;
}
.content_account {
  margin: 12% 25% 0% 25%;
}
.content_account .profile_image {
  margin: 0% 0% 5% 0%;
  position: relative;
  height: 30vh;
  width: 100%;
  overflow: hidden;
}
.content_account .profile_image img {
  margin: 0% 0% 5% 0%;
  position: relative;
  height: 30vh;
  width: 50vw;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.content_account .profile_image h1 {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  line-height: 2.4rem;
  font-size: 3rem;
  letter-spacing: 3px;
  color: #ffffff;
}
.content_account .profile_image i.change_icon {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  color: rgba(255, 255, 255, 0.7);
}
.content_account .profile_image p.image_change {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  color: rgba(255, 255, 255, 0.7);
}
.content_account .profile_image:hover {
  background-color: rgba(0, 0, 0, 0.15);
}
.content_account .profile_image:hover .up_icon {
  color: #ffffff;
}
.content_account .profile_image:hover .upload_img {
  color: #ffffff;
}
.content_account .profile_image .up_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  color: #757575;
}
.content_account .profile_image .upload_img {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  line-height: 2.4rem;
  font-size: 2rem;
  letter-spacing: 3px;
  color: #757575;
}
.content_account .btn {
  padding: 0.8rem 1.5rem;
  font-size: 1.6rem;
  letter-spacing: 1px;
}
.content_account .btn:hover {
  opacity: 0.5;
  color: #4f4f4f;
  background-color: #ffffff;
}
.content_account .form-select {
  line-height: 2.4rem;
  font-size: 2rem;
  letter-spacing: 1px;
}
.content_account .form-control {
  color: #757575;
  background-color: rgba(0, 0, 0, 0.1) !important;
  border: 0px solid rgba(0, 0, 0, 0) !important;
  font-size: 1.8rem;
  letter-spacing: 1px !important;
}
.content_account .form-control:focus {
  color: #757575;
  background-color: rgba(0, 0, 0, 0.35);
  outline: 0;
  font-weight: 300 !important;
  border-color: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0 1px #ffffff62;
}
.content_contact {
  margin: 0% 25% 0% 25%;
  padding-top: 14%;
}
.content_contact .g-recaptcha {
  display: flex;
  justify-content: center;
}
.content_contact .btn {
  padding: 0.8rem 1.5rem;
  font-size: 1.6rem;
  letter-spacing: 1px;
}
.content_contact .btn:hover {
  opacity: 0.5;
  color: #4f4f4f;
  background-color: #ffffff;
}
.content_contact .form-select {
  line-height: 2.4rem;
  font-size: 2rem;
  letter-spacing: 1px;
}
.content_contact .form-control {
  color: #757575;
  background-color: rgba(0, 0, 0, 0.1) !important;
  border: 0px solid rgba(0, 0, 0, 0) !important;
  font-size: 1.8rem;
  letter-spacing: 1px !important;
}
.content_contact .form-control:focus {
  color: #757575;
  background-color: rgba(0, 0, 0, 0.35);
  outline: 0;
  font-weight: 300 !important;
  border-color: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0 1px #ffffff62;
}

#global-container {
  position: fixed;
  width: 100%;
  height: 4%;
  top: 3%;
  background: none;
  z-index: 35;
}

#container {
  position: relative;
  background-color: rgba(0, 0, 0, 0.51);
  height: 100vh;
  z-index: 2;
  transform: translateX(-100%);
  transition: all 2s;
  margin: -4% 0 0 0;
}
#container .mobile-header {
  text-align: left;
  display: inline-block;
  position: fixed;
  top: 8%;
  left: 0;
  margin: 0 0 0 7%;
  line-height: 2.4rem;
  font-size: 2rem;
  letter-spacing: 1px;
}
#container .mobile-header .mobile_logo {
  margin-bottom: 115%;
}
#container .mobile-header .mobile-menu {
  font-size: 2rem;
  margin-left: 5px;
  /*現在地とhoverの設定*/
  /*現在地とhoverの設定*/
}
#container .mobile-header .mobile-menu ul li {
  margin-bottom: 25px;
}
#container .mobile-header .mobile-menu ul li.mobile_login_out {
  line-height: 2.4rem;
  font-size: 2.5rem;
  letter-spacing: 2px;
  margin: 40% 0 -40% 15%;
}
#container .mobile-header .mobile-menu ul li.mobile_author {
  margin-top: 80%;
  font-size: 1.8rem;
  letter-spacing: 2px;
}
#container .mobile-header .mobile-menu ul li a {
  text-decoration: none;
  letter-spacing: 2px;
  color: #ffffff;
  padding: 5px;
}
#container .mobile-header .mobile-menu ul.mobile_gnavi li a {
  /*線の基点とするためrelativeを指定*/
  position: relative;
}
#container .mobile-header .mobile-menu ul.mobile_gnavi li a.mobile_bg {
  /*背景色の基点とするためrelativeを指定*/
  position: relative;
  /*アニメーションの指定*/
  transition: all 0.5s;
}
#container .mobile-header .mobile-menu ul.mobile_gnavi li a::after {
  content: "";
  /*絶対配置で線の位置を決める*/
  position: absolute;
  bottom: 0;
  left: 7%;
  /*線の形状*/
  width: 80%;
  height: 1px;
  background: #ffffff;
  /*アニメーションの指定*/
  transition: all 1s;
  transform: scale(0, 1);
  /*X方向0、Y方向1*/
  transform-origin: left top;
  /*左上基点*/
}
#container .mobile-header .mobile-menu ul.mobile_gnavi li a.mobile_bg::after {
  content: "";
  /*絶対配置で線の位置を決める*/
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  /*背景の形状*/
  width: 0;
  height: 1px;
  background: #ffffff;
  opacity: 0;
  /*はじめは透過を0に*/
}
#container .mobile-header .mobile-menu ul.mobile_gnavi li a:hover {
  color: #ffffff;
}
#container .mobile-header .mobile-menu ul.mobile_gnavi li a:hover::after {
  transform: scale(1, 1);
  /*X方向にスケール拡大*/
}
#container .mobile-header .mobile-menu ul.mobile_gnavi li a.mobile_bg:hover::after {
  /*背景の形状*/
  width: 100%;
  opacity: 1;
  /*アニメーションの指定*/
  -webkit-animation: bgcolor 0.7s forwards;
          animation: bgcolor 0.7s forwards;
  /*アニメーションで線を伸ばして背景をつける*/
}
@keyframes bgcolor {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  70% {
    width: 100%;
    height: 1px;
  }
  85% {
    width: 100%;
    height: 75%;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #ffffff5d;
  }
}
#container .mobile-header .mobile-menu ul.mobile_gnavi li a.mobile_bg:hover {
  color: #ffffff;
  /*テキストを最前面へ*/
  z-index: 10;
}

.menu-open #container {
  transform: translateX(0%);
}

.mobile-menu_btn {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 4px 2px;
  border: none;
  outline: none !important;
  cursor: pointer;
  position: absolute;
  top: 3%;
  right: 3%;
  z-index: 20;
}
.mobile-menu_btn > span {
  background-color: #ffffff;
  width: 35px;
  height: 2px;
  display: block;
  margin-bottom: 9px;
  transition: transform 0.7s;
}
.mobile-menu_btn > span:last-child {
  margin-bottom: 0;
}

.menu-open {
  background-color: #ffffff;
}
.menu-open .mobile-menu_btn > span {
  background-color: #ffffff;
}
.menu-open .mobile-menu_btn > span:nth-child(1) {
  transition-delay: 70ms;
  transform: translateY(11px) rotate(135deg);
}
.menu-open .mobile-menu_btn > span:nth-child(2) {
  transition-delay: 0s;
  transform: translateX(-18px) scaleX(0);
}
.menu-open .mobile-menu_btn > span:nth-child(3) {
  transition-delay: 140ms;
  transform: translateY(-11px) rotate(-135deg);
}

.mobile-side_copy {
  display: inline-block;
  color: #ffffff;
  position: fixed;
  top: 50%;
  right: -7%;
  margin: 0 0 0 0;
  transform: rotate(90deg);
  letter-spacing: 2px;
  line-height: 2rem;
  font-size: 1.6rem;
  letter-spacing: 3px;
}

#footer-mobile {
  z-index: 0;
  line-height: 2.4rem;
  font-size: 2rem;
  letter-spacing: 1px;
}
#footer-mobile #footer-mobile_links {
  position: fixed;
  bottom: 10%;
  left: 13%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
#footer-mobile #footer-mobile_links li {
  display: inline;
  margin: 0 30% 0 0;
}
#footer-mobile #footer-mobile_links li a.sns_link {
  text-decoration: none;
}
#footer-mobile #footer-mobile_links li a.sns_link:hover {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.3);
}
#footer-mobile #footer-mobile_links li a.sns_link i.icon {
  color: #ffffff;
}

@media (max-width: 359px) {
  body main.about .about_image .content_description .description {
    margin-bottom: -130% !important;
  }
}
@media (max-width: 600px) {
  /******************************************************************

  Stylesheet: 600px以下のタブレットやモニタで適用

  ******************************************************************/
  #global-container {
    height: 5%;
    top: 5%;
  }

  #container {
    height: 105vh;
    margin: -12% 0 0 0;
  }
  #container .mobile-header .mobile_logo {
    margin-bottom: 50%;
  }
  #container .mobile-header .mobile_logo a img {
    width: 80%;
  }
  #container .mobile-header .mobile-menu ul li.mobile_login_out {
    margin: 20% 0 0% 15%;
  }
  #container .mobile-header .mobile-menu ul li.mobile_author {
    margin-top: 20%;
  }
  #container .mobile-header .mobile-side_copy {
    right: -20%;
  }
  #container .mobile-side_copy {
    right: -13%;
  }
  #container #footer-mobile #footer-mobile_links {
    left: 67%;
    bottom: 20%;
  }

  #index #top_title {
    top: 80%;
    left: 50%;
  }
  #index #top_title .meta {
    font-size: 2rem;
    letter-spacing: 3px;
  }
  #index #top_title .sub {
    line-height: 2rem;
    font-size: 1.8rem;
    letter-spacing: 1px;
  }
  #index #top_title .sub-j {
    line-height: 2rem;
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
  #index .main__images-logo {
    position: -webkit-sticky;
    position: sticky;
    top: 38%;
  }

  body main.about .about_image {
    margin: 0% 10% !important;
  }

  body main.about .about_image .content_description {
    padding-top: 40%;
    margin: 0 0 -150%;
  }
  body main.about .about_image .content_description .description {
    font-size: 1.8rem;
    margin-bottom: -30%;
  }

  html body main.identity_bg .content_identity:not(:root) {
    margin: 0% 10%;
    padding-top: 50%;
  }
  html body main.identity_bg .content_identity:not(:root) .img_main .contentsText {
    top: 76%;
  }
  html body main.identity_bg .content_identity:not(:root) .img_main {
    padding-bottom: 90%;
    margin-bottom: 10%;
  }
  html body main.identity_bg .content_identity:not(:root) .img_main .contentsText h2 {
    font-size: 3rem;
  }
  html body main.identity_bg .content_identity:not(:root) .img_main .contentsText p {
    font-size: 1.5rem;
    white-space: pre-wrap;
  }
  html body main.identity_bg .content_identity:not(:root) .img_sub {
    padding-bottom: 80%;
    padding-top: 20%;
  }
  html body main.identity_bg .content_identity:not(:root) .img_sub .contentsText h2 {
    font-size: 3rem;
  }
  html body main.identity_bg .content_identity:not(:root) .img_sub .contentsText p {
    font-size: 1.3rem;
    white-space: pre-wrap;
  }
  html body main.identity_bg .content_identity:not(:root) .img_sub.end {
    padding-bottom: 75%;
  }
  html body main.identity_bg .content_identity:not(:root) .img_sub img.water_well {
    max-width: 65%;
  }

  main.content_contact {
    margin: 0% 10% 15%;
  }

  .content_auth .title_box a.login_title {
    font-size: 3.5rem;
    letter-spacing: 5px;
  }

  div.content_list {
    padding: 40% 0% 10% 0;
  }

  div.content_detail {
    margin: 0% 10%;
    padding: 30% 0%;
  }
  div.content_detail .card-title {
    font-size: 2rem;
    letter-spacing: 3px;
  }
  div.content_detail .card-text {
    line-height: 3rem;
    font-size: 1.6rem;
    margin: 15% 3% !important;
  }
  div.content_detail .btn {
    margin: 0% 6% 10% 3%;
  }
  div.content_detail .m-3 {
    margin: 0 !important;
  }
  div.content_detail .mb-0 {
    margin-bottom: 5% !important;
  }

  main.content_account {
    margin: 0% 15% 15% 15%;
    padding-top: 35%;
  }

  main.content_account .profile_image img {
    width: 73vw;
  }
}
@media (max-width: 1024px) {
  /******************************************************************

  Stylesheet: 1024px以下のモニタで適用

  ******************************************************************/
  #header {
    display: none;
  }

  #index .main__images {
    height: 100vh;
    margin: 0;
  }
  #index .main__images .top_title {
    top: 50%;
    left: 50%;
  }
  #index .main__images-photo {
    width: 113%;
  }

  .side_copy {
    display: none;
  }

  .footer {
    display: none;
  }

  body main.about .about_image {
    margin: 0% 17%;
    position: absolute;
    display: flex;
    justify-content: center;
  }

  main.about .about_image .content_description {
    margin: 0;
    padding-top: 30%;
  }

  #identity {
    display: none;
  }

  .side_copy_ide {
    display: none;
  }

  .footer_ide {
    display: none;
  }

  #container .mobile-header .mobile_logo {
    margin-bottom: 65%;
  }

  body main.identity_bg .content_identity:not(:root) {
    margin: 0% 15%;
    padding-top: 35%;
  }
  body main.identity_bg .content_identity:not(:root) .img_main img.moto {
    max-width: 60%;
  }
  body main.identity_bg .content_identity:not(:root) .img_main .contentsText h2 {
    font-size: 4rem;
  }
  body main.identity_bg .content_identity:not(:root) .img_main .contentsText p {
    font-size: 1.6rem;
  }
  body main.identity_bg .content_identity:not(:root) .img_sub img.nature {
    max-width: 80%;
  }
  body main.identity_bg .content_identity:not(:root) .img_sub .contentsText h2 {
    font-size: 3.5rem;
  }
  body main.identity_bg .content_identity:not(:root) .img_sub .contentsText p {
    font-size: 1.5rem;
  }
  body main.identity_bg .content_identity:not(:root) .img_sub.end {
    margin-bottom: 25%;
  }

  .content_list {
    position: relative;
    margin: 0% 15%;
    padding: 20% 0%;
    z-index: 30;
  }
  .content_list .px-4,
.content_list .pb-5 {
    padding: 0 0 15% !important;
  }

  .content_detail {
    margin: 0% 10%;
    padding: 20% 0%;
  }

  #global-container.menu-open {
    z-index: 40;
  }

  .content_contact {
    padding-top: 30%;
    margin: 0% 20%;
  }
  .content_contact .contact_area {
    z-index: 30;
  }

  .content_account {
    margin: 0% 20% 14% 20%;
    padding-top: 20%;
  }
  .content_account .account_area {
    z-index: 30;
  }
  .content_account .profile_image img {
    width: 62vw;
  }

  .content_auth {
    margin: 35% 6%;
  }
  .content_auth .title_box {
    margin: auto 12% 13% auto;
  }
  .content_auth .login_box {
    margin: 0 10% 0 0;
  }
  .content_auth .login_box .mx-5 {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .content_auth .login_box .mx-5 h1.me-5 {
    margin-right: 0 !important;
  }
}
@media (min-width: 1025px) {
  /******************************************************************

  Stylesheet: 1025px以上のモニタで適用

  ******************************************************************/
  #global-container {
    display: none;
  }
}
@media (max-width: 1536px) {
  /******************************************************************

  Stylesheet: 1536px以下のモニタで適用

  ******************************************************************/
  header.header .header_logo:not(:root) {
    margin-bottom: 50%;
  }

  main.index .main__images .top_title {
    top: 53%;
    left: 39%;
  }

  header.identity .ide_logo:not(:root) {
    margin-bottom: 50%;
  }

  main.identity_bg .content_identity:not(:root) .img_main .contentsText {
    top: 80%;
  }

  main.identity_bg .content_identity:not(:root) .img_main .contentsText h2 {
    font-size: 5rem;
  }

  main.identity_bg .content_identity:not(:root) .img_main .contentsText p {
    font-size: 2rem;
  }

  main.identity_bg .content_identity:not(:root) .img_main {
    padding-bottom: 50%;
  }

  main.identity_bg .content_identity:not(:root) .img_sub .contentsText {
    top: 80%;
  }

  main.identity_bg .content_identity:not(:root) .img_sub .contentsText h2 {
    font-size: 4.5rem;
  }

  main.identity_bg .content_identity:not(:root) .img_sub .contentsText p {
    font-size: 2rem;
  }

  main.identity_bg .content_identity:not(:root) .img_sub {
    padding-bottom: 50%;
    padding-top: 15%;
  }

  main.identity_bg .content_identity:not(:root) .img_sub.end {
    padding-bottom: 50%;
    margin-bottom: 5%;
  }
}
@media (max-width: 1920px) {
  /******************************************************************

  Stylesheet: 1024px以下のモニタで適用

  ******************************************************************/
  header.header .header_logo {
    margin-bottom: 126%;
  }

  main.index .main__images .top_title {
    top: 53%;
    left: 39%;
  }

  header.identity .ide_logo {
    margin-bottom: 126%;
  }

  main.about .about_image {
    margin: 0 30% 0 26%;
  }
}/*# sourceMappingURL=style.css.map */