@charset "utf-8";
/* CSS Document */

$cblack: #333;

.header {
    text-align: left;
    display: inline-block;
    position: absolute;
    top: 35px;
    left: 0;
    margin: 0 0 0 65px;

    &__logo {
        margin-bottom: 160px;
    }

    &__menu {
        font-size: 2rem;

        & ul li {
            margin-bottom: 25px;

            & a {
                text-decoration: none;
                color: $cblack;
            }
        }
    }
}

.main {
    &__images {
        height: 81vmin;
        margin: 180px 0px 35px 280px;
        background-size: 80vw;
        overflow: hidden;
        position: relative;

        &-pohoto {
            z-index: 10;
            opacity: 0;
            height: 100%;
            width: 105%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            animation: anime 24s 0s infinite;

            &::before {
                display: block;
                content: "";
                padding-top: 50%;
            }

            &:nth-of-type(2) {
                animation-delay: 6s;
            }

            &:nth-of-type(3) {
                animation-delay: 12s;
            }

            &:nth-of-type(4) {
                animation-delay: 18s;
            }

            @keyframes anime {
                0% {
                    opacity: 0;
                }

                8% {
                    opacity: 1;
                }

                17% {
                    opacity: 1;
                }

                25% {
                    opacity: 0;
                    transform: translateX(-37px);
                    z-index: 9;
                }

                100% {
                    opacity: 0;
                }
            }
        }

        &-logo {
            position: fixed;
            right: 60px;
            bottom: 70px;
            z-index: 11;
        }
    }
}

.footer {
    text-align: left;
    margin-left: 65px;

    &__sns-links {
        position: absolute;
        bottom: 66px;

        & ul li {
            display: inline-block;
            margin-right: 31px;

            & a.sns_link {
                text-decoration: none;

                &:hover {
                    color: rgb(255, 255, 255);
                    background-color: rgba(0, 0, 0, 0.3);
                }

                & i.icon {
                    color: $cblack;
                }
            }
        }
    }

    &__copyright {
        position: absolute;
        right: 60px;
        bottom: 7px;
        font-size: 1.5rem;
        color: $cblack;
    }
}
