{% load static %}
<div class="comment">
    <div class="list-group">
        <a href="" class="list-group-item list-group-item-action p-2 rounded-0">
            <p class="m-0"><small>ここにコメントが入ります</small></p>
            <p class="m-0"><small>2021.7.29</small></p>
        </a>
    </div>
    {% if user.is_authenticated %}
    <form method="POST" class="my-4">
        <div class="post_comment">
            <label>Post Comment</label>
            <textarea class="rounded-0 bg-light form-control" rows="1">
            </textarea>
        </div>
    </form>
    <div class="text-right">
        <a href="#" class="btn btn-light me-2" data-mdb-ripple-color="dark">Submission</a>
    </div>
    {% else %}
    <p class="mt-4">
        コメントを投稿するには<a href="/login/" class="link_login text-decoration-underline">Login</a>して下さい
    </p>
    {% endif %}
</div>
