{% load static %}
<header class="header">
    <h1 class="header__logo">
        <a href="/">
            <img src="{% static 'images/top/MOTOYA-ITO-DESIGN-title-w.png' %}" alt="MOTOYA ITO DESGIN" />
        </a>
    </h1>
    <nav class="header__menu">
        <ul class="gnavi">
            <!-- <li><a href="/">HOME</a></li> -->
            <li><a href="/blog/articles/">LABO</a></li>
            <li><a href="/about/">ABOUT</a></li>
            <li><a href="/identity/">IDENTITY</a></li>
            <li><a href="/contact/">CONTACT</a></li>
            <!-- <li><a href="/account/">ACCOUNT</a></li> -->

            {% if user.is_authenticated %}
            <li class="login_out"><a href="/logout/" class="bg_black">Logout</a></li>
            <li class="author"><a href="/account/">User Account</a></li>
            {% else %}
            <li class="login_out"><a href="/login/" class="bg_black">Login</a></li>
            <li class="author"><a href="/signup/">Create User</a></li>
            {% endif %}
        </ul>
</header>
