{% load static %}
<header class="header">
    <h1 class="header__logo">
        <a href="index.html">
            <img src="{% static 'images/top/MOTOYA-ITO-DESIGN-title-w.png' %}" alt="MOTOYA ITO DESGIN" />
        </a>
    </h1>
    <nav class="header__menu">
        <ul class="gnavi">
            <li><a href="#">HOME</a></li>
            <li><a href="about.html">ABOUT</a></li>
            <li><a href="identity.html">IDENTITY</a></li>
            <li><a href="contact.html">CONTACT</a></li>
        </ul>
</header>
